@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0 20px;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 15px;
    margin: 0 auto;
    box-shadow: 0px -1px 4px 0px black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.page-logo {
    max-width: 150px;
}

.page-logo img {
    width: 100%;
}

.links-list {
    display: flex;
    align-items: center;
}

.page-link {
    list-style: none;
    margin: 5px;
}

.link {
    color: #7F8893;
    text-decoration: none;
    font-size: 20px;
}

.current {
    border-top: 3px solid #42ABF8;
}

.page-link:last-child {
    background: #42ABF8;
    border-radius: 35px;
    box-shadow: 1px 1px 6px -1px black;
    padding: 5px;
}

.page-link:last-child a {
    color: white;
}

.certificates-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    margin: 0 auto;
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255,255,255, .7)), url('./images/hero-certificates.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.web-certificates-info {
    background: #29394B;
    padding: 20px;
    border-radius: 8px;
    flex-basis: 60%;
    color: #F3F4F5;
}

.web-certificates-img {
    display: flex;
    align-items: flex-end;
    flex-basis: 30%;
}

.certificates-subtitle {
    margin-top: 20px;
    color: #7E8690;
    font-style: italic;
}

.diploma-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 60px;
    color: #40454b;
    padding: 20px;
}

.diploma-section-title {
    margin: 0 auto;
}

.diploma-section-info {
    background: #F4F5F7;
    border-radius: 5px;
    padding: 10px 0;
}

.diploma-section-subtitle {
}