* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(236, 212, 212)
}

body, ul, li {
    display: flex;
}

.gallery {
    margin: 50px;
}

.gallery ul {
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery li {
    list-style: none;
    align-items: center;
    margin: 20px;
    padding: 15px;
    background: white;
    border: 7px solid black;
    box-shadow: 1px 1px 12px -1px black;
}