@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 80px 120px;
    font-family: 'Lato', sans-serif;
    color: #878787;
}

h1, h2, h3, h4, h5, h6, .price-per-month {
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
}

.benefits {
    background: #E3F3FD;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 9px;
    flex-basis: 45%;
}

.benefit {
    display: flex;
    align-items: center;
}

.benefit-icon {
    margin-right: 10px;
}

.benefit-icon i, .price-per-month {
    color: #4BABF8;
}

.prices {
    border: 8px solid #4BABF8;
    border-radius: 9px;
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-per-month {
    font-size: 50px;
    font-weight: bold;
}

.enroll-btn {
    background: #4BABF8;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
}