* {
    boz-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background: rgb(238, 238, 238);
}

header {
    flex-basis: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}

footer {
    flex-basis: 100%;
    color: rgb(255, 255, 255);
    background: rgb(102, 102, 102);
    padding: 20px;
}

.site-title {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}