@media all and (max-width: 600px) {
    .navbar {
        padding: 30px 0 0 0;
        justify-content: center;
    }
    .hero img {
        max-width: 0px;
        display: none;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
    .hero h1 {
        margin-top: 43px;
    }
    .hero-btns {
        margin-bottom: 47px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 45%;
        margin: 0 auto;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    .col-sm-6 {
        max-width: 100%;
    }
    .service-box {
        text-align: left;
        margin: 14px;
    }
    .col-sm-12 {
        margin-top: 50px;
    }
    p {
        margin-bottom: -70px;
    }
    .hero-btns.contact-btn {
        display: none;
    }
    ul.contact-nav {
        display: flex;
        flex-direction: column;
    }
    footer h3 {
        line-height: 1;
        font-size: 3rem;
    }
}