@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');
*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

.page-logo {
    max-width: 150px;
    margin-left: 40px;
}

.site-logo {
    width: 100%;
}

.site-navigation-ul {
    display: flex;
    margin-right: 30px;
}

.site-link-page {
    list-style: none;
    margin-right: 10px;
}

.page-link {
    text-decoration: none;
    font-size: 18px;
    color: rgb(95, 91, 91);
}

.fees-section {
    background: #54546D;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 300px;
    padding: 30px;
    position: relative;
    margin-bottom: 300px;
}

.fees-section::before {
    content: '';
    background: url('./images/calculator-icon.svg');
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 67%;
    left: -80px;
}

.fees-section-title {
    color: white;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    flex-basis: 100%;
}

.fees-article {
    background: white;
    border-radius: 10px;
    text-align: center;
    margin: 14px;
    width: 30%;
    max-width: 400px;
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    color: #6A6A7F;
}

.fees-article-title {
    margin-top: 20px;
    flex-grow: 1;
}

.fees-article-btn {
    background: rgb(163, 21, 163);
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 18px auto;
}

.fees-article-footer {
    margin-top: 30px;
    padding: 8px;
    border-radius: 0 0 12px 12px;
    color: white;
}

.fundamentals, .professional {
    display: flex;
    justify-content: space-between;
}

.onsite {
    padding-right: 15px;
    border-right: 1px solid white;
}

.first-footer {
    background: linear-gradient(90deg, rgba(6, 157, 64, 1) 0%, rgba(37, 183, 93, 1) 35%, rgba(63, 204, 117, 1) 100%);
}

.fundamentals {
    background: linear-gradient(90deg, rgba(77, 110, 140, 1) 0%, rgba(87, 131, 172, 1) 35%, rgba(96, 150, 201, 1) 100%);
}

.professional {
    background: linear-gradient(90deg, rgba(77, 58, 168, 1) 0%, rgba(108, 91, 196, 1) 35%, rgba(135, 120, 221, 1) 100%);
}

.benefits-section {
    margin: 0 120px;
    color: #6A6A7F;
}

.benefits-table {
    margin-top: 30px;
}

.benefit {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.benefit:nth-child(odd) {
    background: #E6E6E6;
}

.benefit:nth-child(even) {
    background: #F8F8F8;
}

.benefit-text {
    flex-grow: 3;
    flex-basis: 60%;
}

.benefit-icon {
    flex-grow: 1;
}

.benefit:nth-child(1) {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.benefit:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.postbank-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 70px;
    padding: 30px;
    color: #6A6A7F;
}