*, 
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.page-logo {
    flex-basis: 10%;
    margin-left: 15px;
}

.site-navigation-ul {
    display: flex;
}

.site-link-page {
    list-style: none;
    margin: 15px;
}

.page-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(95, 91, 91);
}