* {
    box-sizing: border-box;
}

h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    color: grey;
}

body {
    display: flex;
    justify-content: space-between;
}

article {
    margin-right: 50px;
}

img {
    display: inline-block;
}

.card {
    display: flex;
    flex-wrap: wrap;
}