body {
    margin: 0;
    background: rgb(238, 238, 238);
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

.card {
    background: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30%;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 0px black;
}

button {
    background: rgb(0, 153, 0);
    border-radius: 6px;
    color: white;
    border: none;
    padding: 8px 14px;
}

h3 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}

img {
    /* position: absolute;  --> Uncomment this line for Judge even though it's pointless to use absolute positioning here :)*/
    max-width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.content {
    padding: 30px;
    text-align: right;
}

.content p, .content h3 {
    text-align: left;
}