html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.heading {
    font-family: Georgia, serif;
    line-height: 1.2;
    font-weight: bold;
}

table, td, th {
    border: 1px solid rgb(221, 221, 221);
    }
    
    .odd td {
        background-color: rgb(241, 241, 241);
    }
    
    tr:hover{
        background-color:rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    blockquote {
        font-style: italic;
        border-left: 5px solid rgb(221,221,221);
        padding: 3px;
    }

    blockquote p {
        padding: 10px;
    }