* {
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    background: rgb(238, 238, 238);
    margin: 40px 60px;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header {
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}

img {
    padding: 7px;
    border: 4px solid black;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);
}

blockquote, h1, h2 {
    font-family: Georgia, serif;
}

h1, h2 {
    font-size: 1em;
    line-height: 1.2;
}

main {
    flex-grow: 3;
}

aside {
    flex-grow: 1;
}

blockquote {
    float: right;
    font-style: italic;
    border-left: 3px solid rgb(221, 221, 221);
    padding-left: 10px;
    width: 40%;
}

blockquote p {
    text-align: right;
}

a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}

.site-title {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}

.escalatop-image {
    float: right;
    margin: 0 0 7px 20px;
}

.dog-image {
    float: left;
    margin-right: 20px;
}