@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

body {
    margin: 0;
}

.viewport {
    height: 100vh;
    position: relative;
}

.card {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card img {
    border-radius: 4px;
}

i {
    color: white;
    font-size: 30px;
    position: absolute;
    right: 10px;
    bottom: 15px; 
}

.viewport:nth-child(1) {
    background: linear-gradient(rgb(24, 90, 157), rgb(67, 206, 162));
}

.viewport:nth-child(2) {
    background: linear-gradient(rgb(168, 50, 120), rgb(211, 130, 18));
}